@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, ol, p, section, span, ul {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}
/*RESET*/

/* General tag */
html {
	background: url("dhe-haivan-y_e2-c6OyPs-unsplash.jpg") center center/cover no-repeat fixed;
	margin: 0% 20% 0% 20%;	
}

/* Body */
body {
	display: flex;
	-webkit-flex: auto ;
	-moz-flex: auto ;
	-ms-flex: auto ;
	-o-flex: auto ;
	flex: auto;
	flex-direction: column;	
	color: blue;			
}
.container {
	height: 500px;
	min-height: 1000px;
}
/* Header tag */
header {
	-webkit-order: 0;
	-moz-order: 0;
	-ms-order: 0;
	-o-order: 0;
	order: 0;	
	position: relative;
}
/*SideBar*/

/*Article*/
article {	
	height: 350px;
	display: flex;
	/*
	flex-direction: row;
	flex-flow: row;
	*/
	font-weight: bold;
	flex: 1 2 100%;
	color: blue;
	background-color: rgba(215,249,249,0.62);
}
.intro {
	font-size: 38px;
	padding: 6% 5% 0% 10%;
	flex: 1 2 100%;		
}
.intro1 {
	font-size: 50px;
	padding: 7% 5% 0% 0%;
	flex: 1 2 100%;
}
section {
	height: 350px;
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	font-weight: bold;
	flex: 1 2 100%;
	background-color: rgba(215,249,249,0.62);
}
.Greeting{
	font-size: 20px;
	padding: 0% 0% 0% 20%;
	flex: 1 2 100%;
}
.End{
	font-size: 26px;
	padding: 0% 0% 0% 15%;
	flex: 1 2 100%;
}
caption{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight: bold;
    text-align: left;
    display: table-caption;	
}
table {
	margin: 15% 10% 10% 10%;
	width: auto;	
	font-family:Arial, sans-serif;
    font-size: 40px;
    padding: 10px 5px;	
	text-align: center;    
    overflow: hidden;
    word-break:normal;
    border-color:black;	
    border-spacing:0;
	flex: 1 2 100%;
}
table td, th{
    font-family:Arial, sans-serif;
    font-size:40px;
    padding:10px 5px;
    border-style:solid;
    border-width:0px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
	
}
.goals{
	height: 700px;
	
	text-align: center;
	
	font-size:  160%;
	padding: 10% 0% 5% 0%;
	line-height: 33px;
	
}
.maingoals{
	margin: 0% 14% 0% 12%;
	
	
	font-size: 160%;
}
.skill{
	height: 700px;
	
	text-align: justify;
	
	font-size:  160%;
	padding: 10% 5% 5% 5%;
	line-height: 44px;
	flex: 1 2 100%;		
}
.resume{
	height: 700px;	
	flex: 1 2 100%;
}
/*Navigation tag*/
.header {
	background-color: mintcream;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: relative;
	width: 100%;
	z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: mintcream;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
li {
  float: left;
}

li a {
  display: block;
  color: royalblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to cyan on hover */
li a:hover {
  background-color: lightcyan;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/*Footer*/

footer {
	text-align: center;
	background-color: aqua;
	border-radius: 0px 0px 25px 25px;
  
}

/*RESPONSIVE DESIGN - TABLETS & PHONES*/
@media (min-width : 66.687em ){
	.header li {
		float: left;
	}
	.header li a {
		padding: 20px 30px;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
	.container{
		display:flex;
		flex-direction: column;		
	}
	
	

}


	
